.rocketContainer {
    display: flex;
    margin: 30px 5vw;
    width: 90vw;
  }
  
  .rocketContainer > img {
    height: 250px;
    width: 330px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .rocketTitle{
    margin-bottom: 20px;
  }

  .reserveRocket {
    background-color: rgb(24, 173, 231);
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
  }
  
  .cancelReservation {
    background-color: white;
    color: black;
    padding: 15px 40px;
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 20px;
  }
  
  .reserved {
    background-color: rgb(24, 173, 231);
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .enlargeCol {
    width: 10vw;
  }
  
  .yReserve {
    background-color: rgb(24, 173, 231);
    color: white;
    border-radius: 5px;
    padding: 5px 13px;
    height: 3.8rem;
  }
  
  .nReserve {
    border-radius: 5px;
    padding: 5px 13px;
    background-color: rgb(88, 88, 88);
    color: white;
    height: 3.8rem;
  }
  
  .yReserve2 {
    border: 2px solid red;
    border-radius: 5px;
    color: red;
    padding: 5px 13px;
  }
  
  .nReserve2 {
    border: 2px solid grey;
    border-radius: 5px;
    color: grey;
    padding: 5px 13px;
  }
  
  .profileData {
    display: flex;
    justify-content: space-around;
    margin: 30px 60px;
  }
  
  .side {
    border-left: 1px solid grey;
    padding-left: 30px;
  }